USE [PIMS_Project]
GO
/****** Object:  User [admin]    Script Date: 28/03/2026 9:31:05 CH ******/
CREATE USER [admin] FOR LOGIN [admin] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [admin]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 28/03/2026 9:31:05 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AssessmentCriteria]    Script Date: 28/03/2026 9:31:05 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AssessmentCriteria](
	[CriteriaId] [int] IDENTITY(1,1) NOT NULL,
	[AssessmentId] [int] NOT NULL,
	[CriteriaName] [nvarchar](255) NULL,
	[Weight] [decimal](5, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[CriteriaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Assessments]    Script Date: 28/03/2026 9:31:05 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Assessments](
	[AssessmentId] [int] IDENTITY(1,1) NOT NULL,
	[SemesterId] [int] NOT NULL,
	[Title] [nvarchar](255) NULL,
	[Weight] [decimal](5, 2) NULL,
	[IsFinal] [bit] NULL,
	[IsLocked] [bit] NULL,
	[CreatedBy] [int] NOT NULL,
	[CreatedAt] [datetime] NULL,
	[StartDate] [datetime] NULL,
	[Deadline] [datetime] NULL,
	[Description] [nvarchar](max) NULL,
	[IsRetake] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AssessmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AssessmentScores]    Script Date: 28/03/2026 9:31:05 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AssessmentScores](
	[ScoreId] [int] IDENTITY(1,1) NOT NULL,
	[AssessmentId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[Score] [decimal](5, 2) NULL,
	[IsPassed] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ScoreId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ConversationParticipants]    Script Date: 28/03/2026 9:31:05 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ConversationParticipants](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ConversationId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[Role] [int] NOT NULL,
	[JoinedAt] [datetime2](7) NOT NULL,
	[LastReadMessageId] [int] NULL,
	[IsMuted] [bit] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Conversations]    Script Date: 28/03/2026 9:31:05 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Conversations](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Type] [int] NOT NULL,
	[Name] [nvarchar](255) NULL,
	[CreatedBy] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CouncilCriteriaGrades]    Script Date: 28/03/2026 9:31:05 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CouncilCriteriaGrades](
	[GradeId] [int] IDENTITY(1,1) NOT NULL,
	[CouncilId] [int] NOT NULL,
	[GroupId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[TeacherId] [int] NOT NULL,
	[CriteriaId] [int] NOT NULL,
	[Score] [decimal](5, 2) NULL,
 CONSTRAINT [PK__CouncilC__54F87A57D01930EF] PRIMARY KEY CLUSTERED 
(
	[GradeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CouncilMembers]    Script Date: 28/03/2026 9:31:05 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CouncilMembers](
	[CouncilMemberId] [int] IDENTITY(1,1) NOT NULL,
	[CouncilId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CouncilMemberId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Councils]    Script Date: 28/03/2026 9:31:05 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Councils](
	[CouncilId] [int] IDENTITY(1,1) NOT NULL,
	[CouncilName] [nvarchar](100) NULL,
	[SemesterId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CouncilId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CriteriaGrades]    Script Date: 28/03/2026 9:31:05 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CriteriaGrades](
	[GradeId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[CriteriaId] [int] NOT NULL,
	[TeacherId] [int] NOT NULL,
	[Score] [decimal](5, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[GradeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DefenseSchedules]    Script Date: 28/03/2026 9:31:05 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DefenseSchedules](
	[ScheduleId] [int] IDENTITY(1,1) NOT NULL,
	[CouncilId] [int] NOT NULL,
	[GroupId] [int] NOT NULL,
	[DefenseDate] [date] NULL,
	[StartTime] [time](7) NULL,
	[EndTime] [time](7) NULL,
	[Location] [nvarchar](255) NULL,
	[Status] [nvarchar](50) NULL,
	[RoomId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ScheduleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GroupInvitations]    Script Date: 28/03/2026 9:31:05 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GroupInvitations](
	[InvitationId] [int] IDENTITY(1,1) NOT NULL,
	[GroupId] [int] NOT NULL,
	[InvitedUserId] [int] NOT NULL,
	[InvitedByUserId] [int] NOT NULL,
	[Status] [int] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[InvitationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GroupMembers]    Script Date: 28/03/2026 9:31:05 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GroupMembers](
	[GroupMemberId] [int] IDENTITY(1,1) NOT NULL,
	[GroupId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[StatusId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[GroupMemberId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GroupMemberStatus]    Script Date: 28/03/2026 9:31:05 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GroupMemberStatus](
	[StatusId] [int] IDENTITY(1,1) NOT NULL,
	[StatusName] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[StatusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Groups]    Script Date: 28/03/2026 9:31:05 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Groups](
	[GroupId] [int] IDENTITY(1,1) NOT NULL,
	[GroupName] [nvarchar](255) NULL,
	[SemesterId] [int] NOT NULL,
	[LeaderId] [int] NOT NULL,
	[MentorId] [int] NULL,
	[StatusId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[GroupId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GroupStatus]    Script Date: 28/03/2026 9:31:05 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GroupStatus](
	[StatusId] [int] IDENTITY(1,1) NOT NULL,
	[StatusName] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[StatusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MentorRequests]    Script Date: 28/03/2026 9:31:05 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MentorRequests](
	[RequestId] [int] IDENTITY(1,1) NOT NULL,
	[GroupId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[Message] [nvarchar](max) NULL,
	[StatusId] [int] NULL,
	[TeacherComment] [nvarchar](max) NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[RequestId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MentorRequestStatus]    Script Date: 28/03/2026 9:31:05 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MentorRequestStatus](
	[StatusId] [int] IDENTITY(1,1) NOT NULL,
	[StatusName] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[StatusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Messages]    Script Date: 28/03/2026 9:31:05 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Messages](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ConversationId] [int] NOT NULL,
	[SenderId] [int] NOT NULL,
	[Content] [nvarchar](max) NULL,
	[MessageType] [int] NOT NULL,
	[FileUrl] [nvarchar](1000) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notifications]    Script Date: 28/03/2026 9:31:05 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notifications](
	[NotificationId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[Title] [nvarchar](255) NULL,
	[Content] [nvarchar](max) NULL,
	[IsRead] [bit] NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[NotificationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PasswordResetOtp]    Script Date: 28/03/2026 9:31:05 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PasswordResetOtp](
	[Id] [uniqueidentifier] NOT NULL,
	[Email] [varchar](100) NOT NULL,
	[OtpCode] [nvarchar](10) NOT NULL,
	[ExpiredAt] [datetime2](7) NOT NULL,
	[IsUsed] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UsedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_PasswordResetOtp] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Projects]    Script Date: 28/03/2026 9:31:05 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Projects](
	[ProjectId] [int] IDENTITY(1,1) NOT NULL,
	[GroupId] [int] NOT NULL,
	[Title] [nvarchar](255) NULL,
	[Description] [nvarchar](max) NULL,
	[StatusId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ProjectId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProjectStatus]    Script Date: 28/03/2026 9:31:05 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProjectStatus](
	[StatusId] [int] IDENTITY(1,1) NOT NULL,
	[StatusName] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[StatusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProjectSubmissions]    Script Date: 28/03/2026 9:31:05 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProjectSubmissions](
	[SubmissionId] [int] IDENTITY(1,1) NOT NULL,
	[ProjectId] [int] NOT NULL,
	[SubmitterId] [int] NOT NULL,
	[FileName] [nvarchar](255) NOT NULL,
	[ReportUrl] [nvarchar](max) NOT NULL,
	[FileResourceId] [nvarchar](255) NULL,
	[SubmittedAt] [datetime] NULL,
	[AssessmentId] [int] NOT NULL,
	[GroupId] [int] NOT NULL,
	[TeacherComment] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[SubmissionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProjectTemplates]    Script Date: 28/03/2026 9:31:05 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProjectTemplates](
	[TemplateId] [int] IDENTITY(1,1) NOT NULL,
	[SemesterId] [int] NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[TemplateName] [nvarchar](255) NOT NULL,
	[TemplateUrl] [nvarchar](max) NOT NULL,
	[FileResourceId] [nvarchar](255) NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[TemplateId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 28/03/2026 9:31:05 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rooms]    Script Date: 28/03/2026 9:31:05 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rooms](
	[RoomId] [int] IDENTITY(1,1) NOT NULL,
	[RoomName] [nvarchar](100) NOT NULL,
	[Building] [nvarchar](100) NULL,
	[Capacity] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[RoomId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Semesters]    Script Date: 28/03/2026 9:31:05 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Semesters](
	[SemesterId] [int] IDENTITY(1,1) NOT NULL,
	[SemesterName] [nvarchar](50) NULL,
	[StartDate] [date] NULL,
	[EndDate] [date] NULL,
	[MinGroupSize] [int] NULL,
	[MaxGroupSize] [int] NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[SemesterId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StudentFinalResults]    Script Date: 28/03/2026 9:31:05 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentFinalResults](
	[ResultId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[SemesterId] [int] NOT NULL,
	[TotalScore] [decimal](5, 2) NULL,
	[Grade] [nvarchar](5) NULL,
	[IsPassed] [bit] NULL,
	[IsFinalized] [bit] NULL,
	[FinalizedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ResultId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 28/03/2026 9:31:05 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[Email] [varchar](100) NOT NULL,
	[PasswordHash] [varchar](255) NULL,
	[FullName] [nvarchar](255) NULL,
	[RoleId] [int] NOT NULL,
	[StatusId] [int] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NULL,
	[EmailVerificationToken] [varchar](255) NULL,
	[EmailVerificationTokenExpiresAt] [datetime] NULL,
	[AvatarUrl] [nvarchar](255) NULL,
	[Bio] [nvarchar](500) NULL,
	[PhoneNumber] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserStatus]    Script Date: 28/03/2026 9:31:05 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserStatus](
	[StatusId] [int] IDENTITY(1,1) NOT NULL,
	[StatusName] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[StatusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260120074023_InitialCreate', N'8.0.11')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260122110000_AddEmailVerificationFields', N'8.0.11')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260122110729_AddEmailVerificationFields', N'8.0.11')
GO
SET IDENTITY_INSERT [dbo].[AssessmentCriteria] ON 

INSERT [dbo].[AssessmentCriteria] ([CriteriaId], [AssessmentId], [CriteriaName], [Weight]) VALUES (7, 4, N'ds', CAST(100.00 AS Decimal(5, 2)))
INSERT [dbo].[AssessmentCriteria] ([CriteriaId], [AssessmentId], [CriteriaName], [Weight]) VALUES (1010, 7, N'part1', CAST(50.00 AS Decimal(5, 2)))
INSERT [dbo].[AssessmentCriteria] ([CriteriaId], [AssessmentId], [CriteriaName], [Weight]) VALUES (1011, 7, N'part2', CAST(50.00 AS Decimal(5, 2)))
SET IDENTITY_INSERT [dbo].[AssessmentCriteria] OFF
GO
SET IDENTITY_INSERT [dbo].[Assessments] ON 

INSERT [dbo].[Assessments] ([AssessmentId], [SemesterId], [Title], [Weight], [IsFinal], [IsLocked], [CreatedBy], [CreatedAt], [StartDate], [Deadline], [Description], [IsRetake]) VALUES (4, 1, N'Report 1', CAST(25.00 AS Decimal(5, 2)), 0, 1, 1, CAST(N'2026-01-27T03:54:30.733' AS DateTime), NULL, NULL, NULL, 0)
INSERT [dbo].[Assessments] ([AssessmentId], [SemesterId], [Title], [Weight], [IsFinal], [IsLocked], [CreatedBy], [CreatedAt], [StartDate], [Deadline], [Description], [IsRetake]) VALUES (7, 1, N'Report 2', CAST(10.00 AS Decimal(5, 2)), 0, 1, 1, CAST(N'2026-01-27T14:33:57.700' AS DateTime), CAST(N'2026-03-03T16:12:00.000' AS DateTime), CAST(N'2026-03-06T16:12:00.000' AS DateTime), N'This is report 2', 0)
INSERT [dbo].[Assessments] ([AssessmentId], [SemesterId], [Title], [Weight], [IsFinal], [IsLocked], [CreatedBy], [CreatedAt], [StartDate], [Deadline], [Description], [IsRetake]) VALUES (1008, 1, N'Report 3', CAST(20.00 AS Decimal(5, 2)), 0, 1, 13, CAST(N'2026-03-03T06:55:23.350' AS DateTime), NULL, NULL, NULL, 0)
SET IDENTITY_INSERT [dbo].[Assessments] OFF
GO
SET IDENTITY_INSERT [dbo].[AssessmentScores] ON 

INSERT [dbo].[AssessmentScores] ([ScoreId], [AssessmentId], [UserId], [Score], [IsPassed]) VALUES (1, 4, 1, CAST(9.50 AS Decimal(5, 2)), 1)
INSERT [dbo].[AssessmentScores] ([ScoreId], [AssessmentId], [UserId], [Score], [IsPassed]) VALUES (7, 4, 20, CAST(5.00 AS Decimal(5, 2)), 1)
INSERT [dbo].[AssessmentScores] ([ScoreId], [AssessmentId], [UserId], [Score], [IsPassed]) VALUES (8, 7, 20, CAST(6.00 AS Decimal(5, 2)), 1)
GO
SET IDENTITY_INSERT [dbo].[AssessmentScores] OFF
GO
SET IDENTITY_INSERT [dbo].[ConversationParticipants] ON 

INSERT [dbo].[ConversationParticipants] ([Id], [ConversationId], [UserId], [Role], [JoinedAt], [LastReadMessageId], [IsMuted], [IsDeleted]) VALUES (1, 1, 20, 0, CAST(N'2026-03-06T01:48:17.0340132' AS DateTime2), NULL, 0, 0)
INSERT [dbo].[ConversationParticipants] ([Id], [ConversationId], [UserId], [Role], [JoinedAt], [LastReadMessageId], [IsMuted], [IsDeleted]) VALUES (2, 1, 1, 0, CAST(N'2026-03-06T01:48:17.0585118' AS DateTime2), NULL, 0, 0)
INSERT [dbo].[ConversationParticipants] ([Id], [ConversationId], [UserId], [Role], [JoinedAt], [LastReadMessageId], [IsMuted], [IsDeleted]) VALUES (3, 2, 1021, 0, CAST(N'2026-03-06T01:51:35.2302372' AS DateTime2), NULL, 0, 0)
SET IDENTITY_INSERT [dbo].[ConversationParticipants] OFF
GO
SET IDENTITY_INSERT [dbo].[Conversations] ON 

INSERT [dbo].[Conversations] ([Id], [Type], [Name], [CreatedBy], [CreatedAt], [IsDeleted]) VALUES (1, 1, NULL, 20, CAST(N'2026-03-06T01:48:16.7579289' AS DateTime2), 0)
INSERT [dbo].[Conversations] ([Id], [Type], [Name], [CreatedBy], [CreatedAt], [IsDeleted]) VALUES (2, 1, NULL, 1021, CAST(N'2026-03-06T01:51:35.1683795' AS DateTime2), 0)
SET IDENTITY_INSERT [dbo].[Conversations] OFF
GO
SET IDENTITY_INSERT [dbo].[CouncilCriteriaGrades] ON 

INSERT [dbo].[CouncilCriteriaGrades] ([GradeId], [CouncilId], [GroupId], [UserId], [TeacherId], [CriteriaId], [Score]) VALUES (1, 2002, 8002, 17, 23, 3014, CAST(7.00 AS Decimal(5, 2)))
INSERT [dbo].[CouncilCriteriaGrades] ([GradeId], [CouncilId], [GroupId], [UserId], [TeacherId], [CriteriaId], [Score]) VALUES (2, 2002, 8002, 17, 23, 3015, CAST(7.00 AS Decimal(5, 2)))
INSERT [dbo].[CouncilCriteriaGrades] ([GradeId], [CouncilId], [GroupId], [UserId], [TeacherId], [CriteriaId], [Score]) VALUES (3, 2002, 8002, 20, 23, 3014, CAST(6.00 AS Decimal(5, 2)))
GO
SET IDENTITY_INSERT [dbo].[CouncilCriteriaGrades] OFF
GO
SET IDENTITY_INSERT [dbo].[CouncilMembers] ON 

INSERT [dbo].[CouncilMembers] ([CouncilMemberId], [CouncilId], [UserId]) VALUES (1002, 3, 22)
INSERT [dbo].[CouncilMembers] ([CouncilMemberId], [CouncilId], [UserId]) VALUES (5006, 3, 23)
INSERT [dbo].[CouncilMembers] ([CouncilMemberId], [CouncilId], [UserId]) VALUES (1004, 1002, 22)
SET IDENTITY_INSERT [dbo].[CouncilMembers] OFF
GO
SET IDENTITY_INSERT [dbo].[Councils] ON 

INSERT [dbo].[Councils] ([CouncilId], [CouncilName], [SemesterId]) VALUES (3, N'council 1', 2)
INSERT [dbo].[Councils] ([CouncilId], [CouncilName], [SemesterId]) VALUES (1002, N'council 2', 1002)
INSERT [dbo].[Councils] ([CouncilId], [CouncilName], [SemesterId]) VALUES (1004, N'council 3', 2)
SET IDENTITY_INSERT [dbo].[Councils] OFF
GO
SET IDENTITY_INSERT [dbo].[CriteriaGrades] ON 

INSERT [dbo].[CriteriaGrades] ([GradeId], [UserId], [CriteriaId], [TeacherId], [Score]) VALUES (1, 20, 1014, 23, CAST(9.00 AS Decimal(5, 2)))
INSERT [dbo].[CriteriaGrades] ([GradeId], [UserId], [CriteriaId], [TeacherId], [Score]) VALUES (2, 20, 1015, 23, CAST(7.00 AS Decimal(5, 2)))
INSERT [dbo].[CriteriaGrades] ([GradeId], [UserId], [CriteriaId], [TeacherId], [Score]) VALUES (3, 1022, 1016, 23, CAST(10.00 AS Decimal(5, 2)))
GO
SET IDENTITY_INSERT [dbo].[CriteriaGrades] OFF
GO
SET IDENTITY_INSERT [dbo].[DefenseSchedules] ON 

INSERT [dbo].[DefenseSchedules] ([ScheduleId], [CouncilId], [GroupId], [DefenseDate], [StartTime], [EndTime], [Location], [Status], [RoomId]) VALUES (8027, 4002, 9005, CAST(N'2026-03-26' AS Date), CAST(N'08:56:00' AS Time), CAST(N'10:56:00' AS Time), NULL, N'COMPLETED', 1)
INSERT [dbo].[DefenseSchedules] ([ScheduleId], [CouncilId], [GroupId], [DefenseDate], [StartTime], [EndTime], [Location], [Status], [RoomId]) VALUES (8028, 4002, 9005, CAST(N'2026-03-27' AS Date), CAST(N'08:12:00' AS Time), CAST(N'10:12:00' AS Time), NULL, N'COMPLETED', 1)
INSERT [dbo].[DefenseSchedules] ([ScheduleId], [CouncilId], [GroupId], [DefenseDate], [StartTime], [EndTime], [Location], [Status], [RoomId]) VALUES (8029, 4003, 9006, CAST(N'2026-03-27' AS Date), CAST(N'09:46:00' AS Time), CAST(N'10:46:00' AS Time), NULL, N'COMPLETED', 3)
SET IDENTITY_INSERT [dbo].[DefenseSchedules] OFF
GO
SET IDENTITY_INSERT [dbo].[GroupInvitations] ON 

INSERT [dbo].[GroupInvitations] ([InvitationId], [GroupId], [InvitedUserId], [InvitedByUserId], [Status], [CreatedAt]) VALUES (1, 3, 1021, 18, 1, CAST(N'2026-03-01T19:36:43.747' AS DateTime))
INSERT [dbo].[GroupInvitations] ([InvitationId], [GroupId], [InvitedUserId], [InvitedByUserId], [Status], [CreatedAt]) VALUES (2, 1003, 1021, 18, 1, CAST(N'2026-03-02T07:09:06.123' AS DateTime))
INSERT [dbo].[GroupInvitations] ([InvitationId], [GroupId], [InvitedUserId], [InvitedByUserId], [Status], [CreatedAt]) VALUES (3, 1005, 17, 20, 0, CAST(N'2026-03-02T12:58:43.843' AS DateTime))
SET IDENTITY_INSERT [dbo].[GroupInvitations] OFF
GO
SET IDENTITY_INSERT [dbo].[GroupMembers] ON 

INSERT [dbo].[GroupMembers] ([GroupMemberId], [GroupId], [UserId], [StatusId]) VALUES (1, 1004, 15, 1)
INSERT [dbo].[GroupMembers] ([GroupMemberId], [GroupId], [UserId], [StatusId]) VALUES (2, 1004, 22, 1)
INSERT [dbo].[GroupMembers] ([GroupMemberId], [GroupId], [UserId], [StatusId]) VALUES (3, 3, 18, 1)
SET IDENTITY_INSERT [dbo].[GroupMembers] OFF
GO
SET IDENTITY_INSERT [dbo].[GroupMemberStatus] ON 

INSERT [dbo].[GroupMemberStatus] ([StatusId], [StatusName]) VALUES (1, N'ACTIVE')
INSERT [dbo].[GroupMemberStatus] ([StatusId], [StatusName]) VALUES (2, N'LEFT')
INSERT [dbo].[GroupMemberStatus] ([StatusId], [StatusName]) VALUES (3, N'REMOVED')
SET IDENTITY_INSERT [dbo].[GroupMemberStatus] OFF
GO
SET IDENTITY_INSERT [dbo].[Groups] ON 

INSERT [dbo].[Groups] ([GroupId], [GroupName], [SemesterId], [LeaderId], [MentorId], [StatusId]) VALUES (1, N'okok', 1, 15, 23, 6)
INSERT [dbo].[Groups] ([GroupId], [GroupName], [SemesterId], [LeaderId], [MentorId], [StatusId]) VALUES (2, N'Demo', 1, 22, 23, 1)
INSERT [dbo].[Groups] ([GroupId], [GroupName], [SemesterId], [LeaderId], [MentorId], [StatusId]) VALUES (3, N'Dol', 1, 18, 23, 1)
SET IDENTITY_INSERT [dbo].[Groups] OFF
GO
SET IDENTITY_INSERT [dbo].[GroupStatus] ON 

INSERT [dbo].[GroupStatus] ([StatusId], [StatusName]) VALUES (1, N'CREATED')
INSERT [dbo].[GroupStatus] ([StatusId], [StatusName]) VALUES (2, N'FORMING')
INSERT [dbo].[GroupStatus] ([StatusId], [StatusName]) VALUES (3, N'SUBMITTED')
SET IDENTITY_INSERT [dbo].[GroupStatus] OFF
GO
SET IDENTITY_INSERT [dbo].[MentorRequests] ON 

INSERT [dbo].[MentorRequests] ([RequestId], [GroupId], [UserId], [Message], [StatusId], [TeacherComment], [CreatedAt]) VALUES (1, 1003, 22, N'pls enjoy', 2, NULL, CAST(N'2026-03-02T07:18:26.020' AS DateTime))
INSERT [dbo].[MentorRequests] ([RequestId], [GroupId], [UserId], [Message], [StatusId], [TeacherComment], [CreatedAt]) VALUES (2, 2004, 23, NULL, 2, NULL, CAST(N'2026-03-05T15:35:13.590' AS DateTime))
INSERT [dbo].[MentorRequests] ([RequestId], [GroupId], [UserId], [Message], [StatusId], [TeacherComment], [CreatedAt]) VALUES (3, 2005, 23, NULL, 2, NULL, CAST(N'2026-03-06T00:38:27.127' AS DateTime))
SET IDENTITY_INSERT [dbo].[MentorRequests] OFF
GO
SET IDENTITY_INSERT [dbo].[MentorRequestStatus] ON 

INSERT [dbo].[MentorRequestStatus] ([StatusId], [StatusName]) VALUES (1, N'PENDING')
INSERT [dbo].[MentorRequestStatus] ([StatusId], [StatusName]) VALUES (2, N'APPROVED')
INSERT [dbo].[MentorRequestStatus] ([StatusId], [StatusName]) VALUES (3, N'REJECTED')
SET IDENTITY_INSERT [dbo].[MentorRequestStatus] OFF
GO
SET IDENTITY_INSERT [dbo].[Messages] ON 

INSERT [dbo].[Messages] ([Id], [ConversationId], [SenderId], [Content], [MessageType], [FileUrl], [CreatedAt], [IsDeleted]) VALUES (1, 1, 20, N'alo', 0, NULL, CAST(N'2026-03-06T01:48:28.0053809' AS DateTime2), 0)
INSERT [dbo].[Messages] ([Id], [ConversationId], [SenderId], [Content], [MessageType], [FileUrl], [CreatedAt], [IsDeleted]) VALUES (2, 2, 1021, N'alo', 0, NULL, CAST(N'2026-03-06T01:51:39.6329017' AS DateTime2), 0)
INSERT [dbo].[Messages] ([Id], [ConversationId], [SenderId], [Content], [MessageType], [FileUrl], [CreatedAt], [IsDeleted]) VALUES (3, 2, 20, N'hi', 0, NULL, CAST(N'2026-03-06T01:52:09.0872578' AS DateTime2), 0)
SET IDENTITY_INSERT [dbo].[Messages] OFF
GO
SET IDENTITY_INSERT [dbo].[Notifications] ON 

INSERT [dbo].[Notifications] ([NotificationId], [UserId], [Title], [Content], [IsRead], [CreatedAt]) VALUES (1, 1, N'Password Changed', N'Your password has been changed successfully.', 1, CAST(N'2026-02-06T09:24:11.370' AS DateTime))
INSERT [dbo].[Notifications] ([NotificationId], [UserId], [Title], [Content], [IsRead], [CreatedAt]) VALUES (2, 1, N'Password Changed', N'Your password has been changed successfully.', 1, CAST(N'2026-02-06T09:40:05.190' AS DateTime))
INSERT [dbo].[Notifications] ([NotificationId], [UserId], [Title], [Content], [IsRead], [CreatedAt]) VALUES (3, 1021, N'Invitation to join the group', N'You have been invited to join the ''Dol'' group. Invitation code: #1. Please go to the invitation section to accept or decline.', 1, CAST(N'2026-03-01T19:36:43.857' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[Notifications] OFF
GO
INSERT [dbo].[PasswordResetOtp] ([Id], [Email], [OtpCode], [ExpiredAt], [IsUsed], [CreatedAt], [UsedAt]) VALUES (N'a293f67e-271a-4708-be5a-0165204283bf', N'phuclhde180712@fpt.edu.vn', N'338431', CAST(N'2026-03-03T03:35:49.0189780' AS DateTime2), 1, CAST(N'2026-03-03T03:25:49.0191556' AS DateTime2), CAST(N'2026-03-03T03:26:24.6047664' AS DateTime2))
INSERT [dbo].[PasswordResetOtp] ([Id], [Email], [OtpCode], [ExpiredAt], [IsUsed], [CreatedAt], [UsedAt]) VALUES (N'3d748adb-51b5-4087-a6c6-09e63d030a34', N'lehoang160204@gmail.com', N'926406', CAST(N'2026-03-03T03:30:44.4776555' AS DateTime2), 1, CAST(N'2026-03-03T03:20:44.4777288' AS DateTime2), CAST(N'2026-03-03T03:21:58.1967601' AS DateTime2))
INSERT [dbo].[PasswordResetOtp] ([Id], [Email], [OtpCode], [ExpiredAt], [IsUsed], [CreatedAt], [UsedAt]) VALUES (N'0cd5e858-cbee-4a78-af52-3861d0d4db52', N'baoltde180588@fpt.edu.vn', N'292208', CAST(N'2026-03-03T03:34:34.3169153' AS DateTime2), 1, CAST(N'2026-03-03T03:24:34.3169181' AS DateTime2), CAST(N'2026-03-03T03:25:03.6115305' AS DateTime2))
GO
SET IDENTITY_INSERT [dbo].[Projects] ON 

INSERT [dbo].[Projects] ([ProjectId], [GroupId], [Title], [Description], [StatusId]) VALUES (1, 1, N'PIMS', NULL, 5)
INSERT [dbo].[Projects] ([ProjectId], [GroupId], [Title], [Description], [StatusId]) VALUES (2, 1003, N'Book Store', N'BE: springboot
FE: html css', 2)
INSERT [dbo].[Projects] ([ProjectId], [GroupId], [Title], [Description], [StatusId]) VALUES (3, 1004, N'PIMS3.0', N'BE: dotnet
FE: javascript', 3)
SET IDENTITY_INSERT [dbo].[Projects] OFF
GO
SET IDENTITY_INSERT [dbo].[ProjectStatus] ON 

INSERT [dbo].[ProjectStatus] ([StatusId], [StatusName]) VALUES (1, N'DRAFT')
INSERT [dbo].[ProjectStatus] ([StatusId], [StatusName]) VALUES (2, N'SUBMITTED')
INSERT [dbo].[ProjectStatus] ([StatusId], [StatusName]) VALUES (3, N'APPROVED')
SET IDENTITY_INSERT [dbo].[ProjectStatus] OFF
GO
SET IDENTITY_INSERT [dbo].[ProjectSubmissions] ON 

INSERT [dbo].[ProjectSubmissions] ([SubmissionId], [ProjectId], [SubmitterId], [FileName], [ReportUrl], [FileResourceId], [SubmittedAt], [AssessmentId], [GroupId], [TeacherComment]) VALUES (15, 1, 15, N'ProjectFiles_ParallaxBackground.zip', N'https://drive.google.com/file/d/1zsXUypk3_08Cub_az77l4d06rejZI9_P/view', N'1zsXUypk3_08Cub_az77l4d06rejZI9_P', CAST(N'2026-02-04T23:26:02.697' AS DateTime), 7, 1, NULL)
INSERT [dbo].[ProjectSubmissions] ([SubmissionId], [ProjectId], [SubmitterId], [FileName], [ReportUrl], [FileResourceId], [SubmittedAt], [AssessmentId], [GroupId], [TeacherComment]) VALUES (16, 1002, 20, N'30_12_2025___7aa305b960c363f48a005b059a6fe5c8..rar', N'https://drive.google.com/file/d/19vK_9vsHaWV9tWVA09eaQiyWS-qZg-U_/view', N'19vK_9vsHaWV9tWVA09eaQiyWS-qZg-U_', CAST(N'2026-03-03T20:34:57.583' AS DateTime), 7, 1002, N'quá xuất sắc')
INSERT [dbo].[ProjectSubmissions] ([SubmissionId], [ProjectId], [SubmitterId], [FileName], [ReportUrl], [FileResourceId], [SubmittedAt], [AssessmentId], [GroupId], [TeacherComment]) VALUES (17, 1004, 1022, N'30_12_2025___7aa305b960c363f48a005b059a6fe5c8..rar', N'https://drive.google.com/file/d/1OFVGPdTUb56YH2r0cX8RGv_5EK4sqcri/view', N'1OFVGPdTUb56YH2r0cX8RGv_5EK4sqcri', CAST(N'2026-03-06T07:22:23.833' AS DateTime), 1010, 2004, NULL)
SET IDENTITY_INSERT [dbo].[ProjectSubmissions] OFF
GO
SET IDENTITY_INSERT [dbo].[ProjectTemplates] ON 

INSERT [dbo].[ProjectTemplates] ([TemplateId], [SemesterId], [CreatedBy], [TemplateName], [TemplateUrl], [FileResourceId], [CreatedAt]) VALUES (1, 1, 16, N'srs', N'https://drive.google.com/file/d/1PwNbwRQP_H1cYsUQm0ARHLMhp9-ieOpA/view', N'1PwNbwRQP_H1cYsUQm0ARHLMhp9-ieOpA', CAST(N'2026-02-04T23:08:44.090' AS DateTime))
INSERT [dbo].[ProjectTemplates] ([TemplateId], [SemesterId], [CreatedBy], [TemplateName], [TemplateUrl], [FileResourceId], [CreatedAt]) VALUES (2003, 4002, 15, N'1_SWP391.zip', N'https://drive.google.com/file/d/1E9Jxu460PrI9P-U34J_gu2abjvx_BdIV/view', N'1E9Jxu460PrI9P-U34J_gu2abjvx_BdIV', CAST(N'2026-03-17T07:49:21.410' AS DateTime))
INSERT [dbo].[ProjectTemplates] ([TemplateId], [SemesterId], [CreatedBy], [TemplateName], [TemplateUrl], [FileResourceId], [CreatedAt]) VALUES (2004, 4002, 15, N'2_SWP391.zip', N'https://drive.google.com/file/d/1F_lFBoVWciHwrZklp9ggvPMi0APRy8Qu/view', N'1F_lFBoVWciHwrZklp9ggvPMi0APRy8Qu', CAST(N'2026-03-17T07:49:55.383' AS DateTime))
SET IDENTITY_INSERT [dbo].[ProjectTemplates] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([RoleId], [RoleName]) VALUES (1, N'STUDENT')
INSERT [dbo].[Roles] ([RoleId], [RoleName]) VALUES (2, N'TEACHER')
INSERT [dbo].[Roles] ([RoleId], [RoleName]) VALUES (3, N'SUBJECT_HEAD')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[Rooms] ON 

INSERT [dbo].[Rooms] ([RoomId], [RoomName], [Building], [Capacity]) VALUES (1, N'A101 up', N'beta', 40)
INSERT [dbo].[Rooms] ([RoomId], [RoomName], [Building], [Capacity]) VALUES (3, N'A101 up2', N'bete', 34)
INSERT [dbo].[Rooms] ([RoomId], [RoomName], [Building], [Capacity]) VALUES (1002, N'Mod28', N'OM2_jsIIW', 34)
SET IDENTITY_INSERT [dbo].[Rooms] OFF
GO
SET IDENTITY_INSERT [dbo].[Semesters] ON 

INSERT [dbo].[Semesters] ([SemesterId], [SemesterName], [StartDate], [EndDate], [MinGroupSize], [MaxGroupSize], [IsActive]) VALUES (1, N'Fall 2025', CAST(N'2025-09-01' AS Date), CAST(N'2025-12-30' AS Date), 4, 6, 0)
INSERT [dbo].[Semesters] ([SemesterId], [SemesterName], [StartDate], [EndDate], [MinGroupSize], [MaxGroupSize], [IsActive]) VALUES (2, N'Summer 2025', CAST(N'2025-05-01' AS Date), CAST(N'2025-08-30' AS Date), 4, 6, 0)
INSERT [dbo].[Semesters] ([SemesterId], [SemesterName], [StartDate], [EndDate], [MinGroupSize], [MaxGroupSize], [IsActive]) VALUES (1002, N'Spring 2025', CAST(N'2025-01-01' AS Date), CAST(N'2025-04-30' AS Date), 4, 6, 0)
SET IDENTITY_INSERT [dbo].[Semesters] OFF
GO
SET IDENTITY_INSERT [dbo].[StudentFinalResults] ON 

INSERT [dbo].[StudentFinalResults] ([ResultId], [UserId], [SemesterId], [TotalScore], [Grade], [IsPassed], [IsFinalized], [FinalizedAt]) VALUES (1, 18, 1, CAST(4.75 AS Decimal(5, 2)), NULL, NULL, 0, NULL)
INSERT [dbo].[StudentFinalResults] ([ResultId], [UserId], [SemesterId], [TotalScore], [Grade], [IsPassed], [IsFinalized], [FinalizedAt]) VALUES (2, 20, 1, CAST(4.65 AS Decimal(5, 2)), NULL, NULL, 0, NULL)
INSERT [dbo].[StudentFinalResults] ([ResultId], [UserId], [SemesterId], [TotalScore], [Grade], [IsPassed], [IsFinalized], [FinalizedAt]) VALUES (3, 1021, 1, CAST(5.60 AS Decimal(5, 2)), NULL, NULL, 0, NULL)
SET IDENTITY_INSERT [dbo].[StudentFinalResults] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserId], [Email], [PasswordHash], [FullName], [RoleId], [StatusId], [CreatedAt], [UpdatedAt], [EmailVerificationToken], [EmailVerificationTokenExpiresAt], [AvatarUrl], [Bio], [PhoneNumber]) VALUES (10, N'de180636nguyenquangkhai@gmail.com', N'$2a$11$wC598UE0yXHkwin.id.BveG0MjzW8KLm8HoKPyRpQ9HwnVgHmCufm', N'khaidzvlllll', 1, 1, CAST(N'2026-01-23T06:58:23.790' AS DateTime), CAST(N'2026-03-13T01:19:47.760' AS DateTime), NULL, NULL, NULL, NULL, N'07949338056')
INSERT [dbo].[Users] ([UserId], [Email], [PasswordHash], [FullName], [RoleId], [StatusId], [CreatedAt], [UpdatedAt], [EmailVerificationToken], [EmailVerificationTokenExpiresAt], [AvatarUrl], [Bio], [PhoneNumber]) VALUES (11, N'khaihoanxcc@gmail.com', N'$2a$11$OOlJHgPXi9ywAI2KFOhzaOR6pLGcLKOY.QkNF2I6reXdIFKTh8U0W', N'khaiadmin', 1, 1, CAST(N'2026-01-23T07:04:00.723' AS DateTime), CAST(N'2026-03-13T01:15:50.047' AS DateTime), NULL, NULL, N'https://res.cloudinary.com/dsbhtgduv/image/upload/v1772434363/pims/avatars/k3l0dzwlohtj84ixufpv.png', N'khaidzvkl', N'0338258157')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET IDENTITY_INSERT [dbo].[UserStatus] ON 

INSERT [dbo].[UserStatus] ([StatusId], [StatusName]) VALUES (1, N'ACTIVE')
INSERT [dbo].[UserStatus] ([StatusId], [StatusName]) VALUES (2, N'INACTIVE')
INSERT [dbo].[UserStatus] ([StatusId], [StatusName]) VALUES (3, N'BLOCKED')
SET IDENTITY_INSERT [dbo].[UserStatus] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Assessment_Criteria]    Script Date: 28/03/2026 9:31:05 CH ******/
ALTER TABLE [dbo].[AssessmentCriteria] ADD  CONSTRAINT [UQ_Assessment_Criteria] UNIQUE NONCLUSTERED 
(
	[AssessmentId] ASC,
	[CriteriaName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Assessment_Semester]    Script Date: 28/03/2026 9:31:05 CH ******/
ALTER TABLE [dbo].[Assessments] ADD  CONSTRAINT [UQ_Assessment_Semester] UNIQUE NONCLUSTERED 
(
	[SemesterId] ASC,
	[Title] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_Assessment_User]    Script Date: 28/03/2026 9:31:05 CH ******/
ALTER TABLE [dbo].[AssessmentScores] ADD  CONSTRAINT [UQ_Assessment_User] UNIQUE NONCLUSTERED 
(
	[AssessmentId] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_CP]    Script Date: 28/03/2026 9:31:05 CH ******/
ALTER TABLE [dbo].[ConversationParticipants] ADD  CONSTRAINT [UQ_CP] UNIQUE NONCLUSTERED 
(
	[ConversationId] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_Council_Teacher]    Script Date: 28/03/2026 9:31:05 CH ******/
ALTER TABLE [dbo].[CouncilMembers] ADD  CONSTRAINT [UQ_Council_Teacher] UNIQUE NONCLUSTERED 
(
	[CouncilId] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_Mentor_Grade]    Script Date: 28/03/2026 9:31:05 CH ******/
ALTER TABLE [dbo].[CriteriaGrades] ADD  CONSTRAINT [UQ_Mentor_Grade] UNIQUE NONCLUSTERED 
(
	[UserId] ASC,
	[CriteriaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_Group_InvitedUser]    Script Date: 28/03/2026 9:31:05 CH ******/
ALTER TABLE [dbo].[GroupInvitations] ADD  CONSTRAINT [UQ_Group_InvitedUser] UNIQUE NONCLUSTERED 
(
	[GroupId] ASC,
	[InvitedUserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_User_OneGroup]    Script Date: 28/03/2026 9:31:05 CH ******/
ALTER TABLE [dbo].[GroupMembers] ADD  CONSTRAINT [UQ_User_OneGroup] UNIQUE NONCLUSTERED 
(
	[UserId] ASC,
	[GroupId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_User_Semester]    Script Date: 28/03/2026 9:31:05 CH ******/
ALTER TABLE [dbo].[StudentFinalResults] ADD  CONSTRAINT [UQ_User_Semester] UNIQUE NONCLUSTERED 
(
	[UserId] ASC,
	[SemesterId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__A9D105348F6F40B9]    Script Date: 28/03/2026 9:31:05 CH ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Assessments] ADD  DEFAULT ((0)) FOR [IsFinal]
GO
ALTER TABLE [dbo].[Assessments] ADD  DEFAULT ((0)) FOR [IsLocked]
GO
ALTER TABLE [dbo].[Assessments] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Assessments] ADD  DEFAULT ((0)) FOR [IsRetake]
GO
ALTER TABLE [dbo].[ConversationParticipants] ADD  DEFAULT ((0)) FOR [Role]
GO
ALTER TABLE [dbo].[ConversationParticipants] ADD  DEFAULT (sysdatetime()) FOR [JoinedAt]
GO
ALTER TABLE [dbo].[ConversationParticipants] ADD  DEFAULT ((0)) FOR [IsMuted]
GO
ALTER TABLE [dbo].[ConversationParticipants] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Conversations] ADD  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Conversations] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[DefenseSchedules] ADD  DEFAULT ('PENDING') FOR [Status]
GO
ALTER TABLE [dbo].[GroupInvitations] ADD  DEFAULT ((0)) FOR [Status]
GO
ALTER TABLE [dbo].[GroupInvitations] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[MentorRequests] ADD  DEFAULT ((1)) FOR [StatusId]
GO
ALTER TABLE [dbo].[MentorRequests] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Messages] ADD  DEFAULT ((0)) FOR [MessageType]
GO
ALTER TABLE [dbo].[Messages] ADD  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Messages] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT ((0)) FOR [IsRead]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[PasswordResetOtp] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[PasswordResetOtp] ADD  CONSTRAINT [DF_PasswordResetOtp_IsUsed]  DEFAULT ((0)) FOR [IsUsed]
GO
ALTER TABLE [dbo].[PasswordResetOtp] ADD  CONSTRAINT [DF_PasswordResetOtp_CreatedAt]  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ProjectSubmissions] ADD  DEFAULT (getdate()) FOR [SubmittedAt]
GO
ALTER TABLE [dbo].[ProjectTemplates] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Semesters] ADD  DEFAULT ((1)) FOR [MinGroupSize]
GO
ALTER TABLE [dbo].[Semesters] ADD  DEFAULT ((5)) FOR [MaxGroupSize]
GO
ALTER TABLE [dbo].[Semesters] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[StudentFinalResults] ADD  DEFAULT ((0)) FOR [IsFinalized]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[AssessmentCriteria]  WITH CHECK ADD  CONSTRAINT [FK_AC_Assessment] FOREIGN KEY([AssessmentId])
REFERENCES [dbo].[Assessments] ([AssessmentId])
GO
ALTER TABLE [dbo].[AssessmentCriteria] CHECK CONSTRAINT [FK_AC_Assessment]
GO
ALTER TABLE [dbo].[Assessments]  WITH CHECK ADD  CONSTRAINT [FK_Assessment_Creator] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Assessments] CHECK CONSTRAINT [FK_Assessment_Creator]
GO
ALTER TABLE [dbo].[Assessments]  WITH CHECK ADD  CONSTRAINT [FK_Assessment_Semester] FOREIGN KEY([SemesterId])
REFERENCES [dbo].[Semesters] ([SemesterId])
GO
ALTER TABLE [dbo].[Assessments] CHECK CONSTRAINT [FK_Assessment_Semester]
GO
ALTER TABLE [dbo].[AssessmentScores]  WITH CHECK ADD  CONSTRAINT [FK_AS_Assessment] FOREIGN KEY([AssessmentId])
REFERENCES [dbo].[Assessments] ([AssessmentId])
GO
ALTER TABLE [dbo].[AssessmentScores] CHECK CONSTRAINT [FK_AS_Assessment]
GO
ALTER TABLE [dbo].[AssessmentScores]  WITH CHECK ADD  CONSTRAINT [FK_AS_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[AssessmentScores] CHECK CONSTRAINT [FK_AS_User]
GO
ALTER TABLE [dbo].[ConversationParticipants]  WITH CHECK ADD  CONSTRAINT [FK_CP_Conversation] FOREIGN KEY([ConversationId])
REFERENCES [dbo].[Conversations] ([Id])
GO
ALTER TABLE [dbo].[ConversationParticipants] CHECK CONSTRAINT [FK_CP_Conversation]
GO
ALTER TABLE [dbo].[ConversationParticipants]  WITH CHECK ADD  CONSTRAINT [FK_CP_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[ConversationParticipants] CHECK CONSTRAINT [FK_CP_User]
GO
ALTER TABLE [dbo].[Conversations]  WITH CHECK ADD  CONSTRAINT [FK_Conversations_CreatedBy] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Conversations] CHECK CONSTRAINT [FK_Conversations_CreatedBy]
GO
ALTER TABLE [dbo].[CouncilCriteriaGrades]  WITH CHECK ADD  CONSTRAINT [FK_CCG_Council] FOREIGN KEY([CouncilId])
REFERENCES [dbo].[Councils] ([CouncilId])
GO
ALTER TABLE [dbo].[CouncilCriteriaGrades] CHECK CONSTRAINT [FK_CCG_Council]
GO
ALTER TABLE [dbo].[CouncilCriteriaGrades]  WITH CHECK ADD  CONSTRAINT [FK_CCG_Criteria] FOREIGN KEY([CriteriaId])
REFERENCES [dbo].[AssessmentCriteria] ([CriteriaId])
GO
ALTER TABLE [dbo].[CouncilCriteriaGrades] CHECK CONSTRAINT [FK_CCG_Criteria]
GO
ALTER TABLE [dbo].[CouncilCriteriaGrades]  WITH CHECK ADD  CONSTRAINT [FK_CCG_Group] FOREIGN KEY([GroupId])
REFERENCES [dbo].[Groups] ([GroupId])
GO
ALTER TABLE [dbo].[CouncilCriteriaGrades] CHECK CONSTRAINT [FK_CCG_Group]
GO
ALTER TABLE [dbo].[CouncilCriteriaGrades]  WITH CHECK ADD  CONSTRAINT [FK_CCG_Teacher] FOREIGN KEY([TeacherId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[CouncilCriteriaGrades] CHECK CONSTRAINT [FK_CCG_Teacher]
GO
ALTER TABLE [dbo].[CouncilCriteriaGrades]  WITH CHECK ADD  CONSTRAINT [FK_CCG_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[CouncilCriteriaGrades] CHECK CONSTRAINT [FK_CCG_User]
GO
ALTER TABLE [dbo].[CouncilMembers]  WITH CHECK ADD  CONSTRAINT [FK_CM_Council] FOREIGN KEY([CouncilId])
REFERENCES [dbo].[Councils] ([CouncilId])
GO
ALTER TABLE [dbo].[CouncilMembers] CHECK CONSTRAINT [FK_CM_Council]
GO
ALTER TABLE [dbo].[CouncilMembers]  WITH CHECK ADD  CONSTRAINT [FK_CM_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[CouncilMembers] CHECK CONSTRAINT [FK_CM_User]
GO
ALTER TABLE [dbo].[Councils]  WITH CHECK ADD  CONSTRAINT [FK_Council_Semester] FOREIGN KEY([SemesterId])
REFERENCES [dbo].[Semesters] ([SemesterId])
GO
ALTER TABLE [dbo].[Councils] CHECK CONSTRAINT [FK_Council_Semester]
GO
ALTER TABLE [dbo].[CriteriaGrades]  WITH CHECK ADD  CONSTRAINT [FK_CG_Criteria] FOREIGN KEY([CriteriaId])
REFERENCES [dbo].[AssessmentCriteria] ([CriteriaId])
GO
ALTER TABLE [dbo].[CriteriaGrades] CHECK CONSTRAINT [FK_CG_Criteria]
GO
ALTER TABLE [dbo].[CriteriaGrades]  WITH CHECK ADD  CONSTRAINT [FK_CG_Teacher] FOREIGN KEY([TeacherId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[CriteriaGrades] CHECK CONSTRAINT [FK_CG_Teacher]
GO
ALTER TABLE [dbo].[CriteriaGrades]  WITH CHECK ADD  CONSTRAINT [FK_CG_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[CriteriaGrades] CHECK CONSTRAINT [FK_CG_User]
GO
ALTER TABLE [dbo].[DefenseSchedules]  WITH CHECK ADD  CONSTRAINT [FK_DS_Council] FOREIGN KEY([CouncilId])
REFERENCES [dbo].[Councils] ([CouncilId])
GO
ALTER TABLE [dbo].[DefenseSchedules] CHECK CONSTRAINT [FK_DS_Council]
GO
ALTER TABLE [dbo].[DefenseSchedules]  WITH CHECK ADD  CONSTRAINT [FK_DS_Group] FOREIGN KEY([GroupId])
REFERENCES [dbo].[Groups] ([GroupId])
GO
ALTER TABLE [dbo].[DefenseSchedules] CHECK CONSTRAINT [FK_DS_Group]
GO
ALTER TABLE [dbo].[DefenseSchedules]  WITH CHECK ADD  CONSTRAINT [FK_DS_Room] FOREIGN KEY([RoomId])
REFERENCES [dbo].[Rooms] ([RoomId])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[DefenseSchedules] CHECK CONSTRAINT [FK_DS_Room]
GO
ALTER TABLE [dbo].[GroupInvitations]  WITH CHECK ADD  CONSTRAINT [FK_GI_Group] FOREIGN KEY([GroupId])
REFERENCES [dbo].[Groups] ([GroupId])
GO
ALTER TABLE [dbo].[GroupInvitations] CHECK CONSTRAINT [FK_GI_Group]
GO
ALTER TABLE [dbo].[GroupInvitations]  WITH CHECK ADD  CONSTRAINT [FK_GI_InvitedByUser] FOREIGN KEY([InvitedByUserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[GroupInvitations] CHECK CONSTRAINT [FK_GI_InvitedByUser]
GO
ALTER TABLE [dbo].[GroupInvitations]  WITH CHECK ADD  CONSTRAINT [FK_GI_InvitedUser] FOREIGN KEY([InvitedUserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[GroupInvitations] CHECK CONSTRAINT [FK_GI_InvitedUser]
GO
ALTER TABLE [dbo].[GroupMembers]  WITH CHECK ADD  CONSTRAINT [FK_GM_Group] FOREIGN KEY([GroupId])
REFERENCES [dbo].[Groups] ([GroupId])
GO
ALTER TABLE [dbo].[GroupMembers] CHECK CONSTRAINT [FK_GM_Group]
GO
ALTER TABLE [dbo].[GroupMembers]  WITH CHECK ADD  CONSTRAINT [FK_GM_Status] FOREIGN KEY([StatusId])
REFERENCES [dbo].[GroupMemberStatus] ([StatusId])
GO
ALTER TABLE [dbo].[GroupMembers] CHECK CONSTRAINT [FK_GM_Status]
GO
ALTER TABLE [dbo].[GroupMembers]  WITH CHECK ADD  CONSTRAINT [FK_GM_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[GroupMembers] CHECK CONSTRAINT [FK_GM_User]
GO
ALTER TABLE [dbo].[Groups]  WITH CHECK ADD  CONSTRAINT [FK_Groups_Leader] FOREIGN KEY([LeaderId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Groups] CHECK CONSTRAINT [FK_Groups_Leader]
GO
ALTER TABLE [dbo].[Groups]  WITH CHECK ADD  CONSTRAINT [FK_Groups_Mentor] FOREIGN KEY([MentorId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Groups] CHECK CONSTRAINT [FK_Groups_Mentor]
GO
ALTER TABLE [dbo].[Groups]  WITH CHECK ADD  CONSTRAINT [FK_Groups_Semester] FOREIGN KEY([SemesterId])
REFERENCES [dbo].[Semesters] ([SemesterId])
GO
ALTER TABLE [dbo].[Groups] CHECK CONSTRAINT [FK_Groups_Semester]
GO
ALTER TABLE [dbo].[Groups]  WITH CHECK ADD  CONSTRAINT [FK_Groups_Status] FOREIGN KEY([StatusId])
REFERENCES [dbo].[GroupStatus] ([StatusId])
GO
ALTER TABLE [dbo].[Groups] CHECK CONSTRAINT [FK_Groups_Status]
GO
ALTER TABLE [dbo].[MentorRequests]  WITH CHECK ADD  CONSTRAINT [FK_MR_Group] FOREIGN KEY([GroupId])
REFERENCES [dbo].[Groups] ([GroupId])
GO
ALTER TABLE [dbo].[MentorRequests] CHECK CONSTRAINT [FK_MR_Group]
GO
ALTER TABLE [dbo].[MentorRequests]  WITH CHECK ADD  CONSTRAINT [FK_MR_Status] FOREIGN KEY([StatusId])
REFERENCES [dbo].[MentorRequestStatus] ([StatusId])
GO
ALTER TABLE [dbo].[MentorRequests] CHECK CONSTRAINT [FK_MR_Status]
GO
ALTER TABLE [dbo].[MentorRequests]  WITH CHECK ADD  CONSTRAINT [FK_MR_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[MentorRequests] CHECK CONSTRAINT [FK_MR_User]
GO
ALTER TABLE [dbo].[Messages]  WITH CHECK ADD  CONSTRAINT [FK_Messages_Conversation] FOREIGN KEY([ConversationId])
REFERENCES [dbo].[Conversations] ([Id])
GO
ALTER TABLE [dbo].[Messages] CHECK CONSTRAINT [FK_Messages_Conversation]
GO
ALTER TABLE [dbo].[Messages]  WITH CHECK ADD  CONSTRAINT [FK_Messages_Sender] FOREIGN KEY([SenderId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Messages] CHECK CONSTRAINT [FK_Messages_Sender]
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD  CONSTRAINT [FK_Noti_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Notifications] CHECK CONSTRAINT [FK_Noti_User]
GO
ALTER TABLE [dbo].[PasswordResetOtp]  WITH CHECK ADD  CONSTRAINT [FK_PasswordResetOtp_Users] FOREIGN KEY([Email])
REFERENCES [dbo].[Users] ([Email])
GO
ALTER TABLE [dbo].[PasswordResetOtp] CHECK CONSTRAINT [FK_PasswordResetOtp_Users]
GO
ALTER TABLE [dbo].[Projects]  WITH CHECK ADD  CONSTRAINT [FK_Projects_Group] FOREIGN KEY([GroupId])
REFERENCES [dbo].[Groups] ([GroupId])
GO
ALTER TABLE [dbo].[Projects] CHECK CONSTRAINT [FK_Projects_Group]
GO
ALTER TABLE [dbo].[Projects]  WITH CHECK ADD  CONSTRAINT [FK_Projects_Status] FOREIGN KEY([StatusId])
REFERENCES [dbo].[ProjectStatus] ([StatusId])
GO
ALTER TABLE [dbo].[Projects] CHECK CONSTRAINT [FK_Projects_Status]
GO
ALTER TABLE [dbo].[ProjectSubmissions]  WITH CHECK ADD  CONSTRAINT [FK_Submission_Assessment] FOREIGN KEY([AssessmentId])
REFERENCES [dbo].[Assessments] ([AssessmentId])
GO
ALTER TABLE [dbo].[ProjectSubmissions] CHECK CONSTRAINT [FK_Submission_Assessment]
GO
ALTER TABLE [dbo].[ProjectSubmissions]  WITH CHECK ADD  CONSTRAINT [FK_Submission_Group] FOREIGN KEY([GroupId])
REFERENCES [dbo].[Groups] ([GroupId])
GO
ALTER TABLE [dbo].[ProjectSubmissions] CHECK CONSTRAINT [FK_Submission_Group]
GO
ALTER TABLE [dbo].[ProjectSubmissions]  WITH CHECK ADD  CONSTRAINT [FK_Submission_Project] FOREIGN KEY([ProjectId])
REFERENCES [dbo].[Projects] ([ProjectId])
GO
ALTER TABLE [dbo].[ProjectSubmissions] CHECK CONSTRAINT [FK_Submission_Project]
GO
ALTER TABLE [dbo].[ProjectSubmissions]  WITH CHECK ADD  CONSTRAINT [FK_Submission_Submitter] FOREIGN KEY([SubmitterId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[ProjectSubmissions] CHECK CONSTRAINT [FK_Submission_Submitter]
GO
ALTER TABLE [dbo].[ProjectTemplates]  WITH CHECK ADD  CONSTRAINT [FK_Template_Semester] FOREIGN KEY([SemesterId])
REFERENCES [dbo].[Semesters] ([SemesterId])
GO
ALTER TABLE [dbo].[ProjectTemplates] CHECK CONSTRAINT [FK_Template_Semester]
GO
ALTER TABLE [dbo].[StudentFinalResults]  WITH CHECK ADD  CONSTRAINT [FK_SFR_Semester] FOREIGN KEY([SemesterId])
REFERENCES [dbo].[Semesters] ([SemesterId])
GO
ALTER TABLE [dbo].[StudentFinalResults] CHECK CONSTRAINT [FK_SFR_Semester]
GO
ALTER TABLE [dbo].[StudentFinalResults]  WITH CHECK ADD  CONSTRAINT [FK_SFR_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[StudentFinalResults] CHECK CONSTRAINT [FK_SFR_User]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Role] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([RoleId])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Role]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Status] FOREIGN KEY([StatusId])
REFERENCES [dbo].[UserStatus] ([StatusId])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Status]
GO
